/* var BLOCKED_CELL_COLOR = "lime",
  VALID_CELL_COLOR = "#101010",
  SOURCE_COLOR = "red",
  INTERMEDIATE_CELL_COLOR = "#CD853F",
  ITEM_COLOR = "blue"; */

.navigable-cell {
    fill: #101010;
}

.shelving-cell {
    fill: lime;
}

.source-cell {
    fill: red;
}

.path-cell {
    fill: #CD853F;
}

.item-to-pick-up-cell {
    fill: blue;
}

#head {
    text-align: center;
    text-shadow: 1px 1px whitesmoke;
}

#top-bar {
    background-image: linear-gradient(to right, lime, rgb(21, 255, 0));
    border-style: groove;
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: sans-serif;
}

.btn {
    background-color: lime;
    border: slategray;
    border-radius: 10px;
    color: rgba(15, 1, 1, 0.973);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: blanchedalmond;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#selectionForm {
    color: lime;
    border-style: double;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

body {
	background-color: #323232;
	font-family: 'Trirong', georgia, times, serif;
	font-weight: 200;
	font-size: 18px;
}

#message {
    color: white
}

